<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.sample.mapper.mainMapper">
	<select id="selectSkill" resultType="mainModel">
		SELECT skill.job_id as jobId 
			 , job.job_nm as job
			 , skill_cd as skillCd
			 , skill_nm as skillNm
			 , skill_eff as skillEff
			 , skill_time as skillTime
			 , major as major
		  FROM skill inner join job
		 	on skill.job_id = job.job_id
	</select>
</mapper>